.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #365d81;;
    color: white;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar-content {
    display: flex;
    justify-content: space-between; /* Space between menu and logout */
    align-items: center;
    width: 100%;
}

.navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-menu li {
    margin: 0 1rem;
}

.navbar-menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar-menu a:hover {
    color: #000000;
}

.logout-button {
    background: #e74c3c;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    font-size: 1rem;
    margin-left: 2rem;
    margin-right: rem; 
}

.logout-container {
    display: flex;
    align-items: center;
}

.logout-button:hover {
    background: #c0392b;
}

.about-us-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
    margin-right: 2rem;
}

.about-us-link:hover {
    color: #1abc9c;
}
