#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.welcome {
  font-size: 4rem;
  margin: 1em 0;
  font-style: italic;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.table-full-width {
  width: 100%;
  border-collapse: collapse;
}


.table-header-row {
  background-color: #ffff; 
  text-align: left;
}

.table-header-cell {
  padding: 1rem; 
  font-weight: bold;
  color: #545454; 
  border-bottom: 2px solid #e5e7eb; 
}

/* Body row styling */
.table-body-row {
  border-bottom: 1px solid #e5e7eb;
  transition: background-color 0.2s ease;
}

.table-body-row:hover {
  background-color: #365d81; 
}


.table-body-cell {
  padding: 1rem;
  color: #4b5563; 
}

.table-body-cell-value{
  padding: 1rem;
  color: #e9f0ff; 
}

.profile-settings-box {
  border: 2px solid #ddd; 
  padding: 5px;
  border-radius: 10px; 
  margin: 20px 0;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent; 
  text-align: left;
  padding-left: 20px;
}
.profile-settings-box .profile-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.profile-settings-box .profile-content p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 10px;
}

.profile-settings-box .profile-content strong {
  font-weight: bold;
}

.profile-settings-box .profile-content {
  font-family: 'Arial', sans-serif;
  color: #ffff;
}

.aboutMe {
  margin: 1em 0;
  font-style: italic;
  padding-right: .5em;
  
}